*{
    margin: 0%;
}

.one {
    background-color: brown;
    display: flex;
    width: 200vh;
    height: 4vh;
    color: white;
    align-items: center;
}

.self {
    display: inline-flex; 
     gap: 10px;
     justify-content: flex-start;
}

.group {
    display: inline-flex;
    gap: 10px;
    justify-content: flex-end;
    width: 200vh;
    position: relative;
    right: 0px;
}
.two {
    display: flex;
    height: 16vh;
    justify-content: center;
    align-items: flex-end;
}

.three {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 70vh;
    align-items: center;
    
}

.four {
    display: flex;
    background-color: brown;
    justify-content: center;
    color: white; 
    height: 10vh;
    align-items: center;
}

.red {
    border: 1px solid;
    text-align: right;
    padding-bottom: 30px;
}

.green {
    border: 1px solid;
    text-align: right;
    padding-bottom: 30px;
}

.black {
    border: 1px solid;
    text-align: right;
    padding-bottom: 30px;
}