*{
    margin: 0%;
}

.one {
    background-color: brown;
    display: flex;
    height: 4vh;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.self {
    display: flex;
    gap: 10px;
}

.group {
    display: flex;
    gap: 10px; 
}

.two {
    display: flex;
    height: 16vh;
    justify-content: center;
    align-items: flex-end;
}

.three {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 70vh;
    align-items: center;
    
}

.four {
    display: flex;
    background-color: brown;
    justify-content: center;
    color: white; 
    height: 10vh;
    align-items: center;
}

.red {
    border: 1px solid;
    text-align: right;
    padding-bottom: 30px;
}

.green {
    border: 1px solid;
    text-align: right;
    padding-bottom: 30px;
}

.black {
    border: 1px solid;
    text-align: right;
    padding-bottom: 30px;
}